// 需要注意:
// 1.不支持let，const
// 2.不支持箭头函数
var filter = {
    isLq: function (list,data) {
        for(var i=0;i<list.length;i++){
            if(list[i]==data){
                return true
            }
        }
        return false
    },
    bit:function(score,score2){
        // (score/item.score)*100>=100?100:(score/item.score)*100<1?'1':(score/item.score)*100
        return (score/score2)*100>=100 ? 100:(score/score2)*100<1 ? '1': Math.round((score/score2)*100)
    }
}
// 导出方法
module.exports = {
    isLq: filter.isLq,
    bit:filter.bit
}
